{block content}

<div class="d-flex align-items-center justify-content-center">
    <div class="col-md-5 ">
        <div n:block="title" class="text-center">
            <h3 class="mb-0">
                <i class="fa-solid fa-images me-2"></i>
                Vložit obrázek
            </h3>
        </div>
        <div class="card card-outline m-4">
            <div class="m-4">

                

                {control imageForm}

            </div>
        </div>
    </div>
</div>