{block content}
<div class="login-box">
    <div class="login-logo">
        <a href="../index2.html"> <i class="fa-solid fa-burger fa-2x"></i>RestaurantApp</a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Obnova hesla</p>
          
            {control resetPasswordForm}

          

        </div>
    </div>
</div>