{*control form*}

{form form}
    <div class="mb-3">
        {label name/}    
        {input name}
    </div>
    <div class="mb-3">
        {label email/}    
        {input email}
    </div>
    <div class="mb-3">
        {label role/}    
        {input role}
    </div>
    <div class="mb-3 text-center">
        {input send}
    </div>

{/form}
