.under-category h2 {
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 0 0;
    letter-spacing: 2px;
    /*text-transform: uppercase;*/
    color: #fffff;
    font-family: "Poppins", sans-serif;
}





/* Aktivní hlavní odkaz */
/*.nav-link.active {
    background-color: #0d6efd;
    color: white;
}*/

/* Aktivní submenu odkaz */
.nav-treeview .nav-link.active {
    background-color: #0a58ca;
    color: white;
}

/* Výchozí stav submenu: skryté */
.nav-treeview {
    display: none;
}

/* Pokud má rodič class `menu-open`, zobraz submenu */
.nav-item.menu-open > .nav-treeview {
    display: block;
}


.card-body a {
    color: inherit;
}





.tripadvisor {
    font-size: 20px;
    float: left;
    width: 44px;
    height: 44px;
    background: #cda45e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;

    font-family: 'boxicons' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    
    color: #ffffff;
}


.mt-6 {
    margin-top: 5rem;
}